*{font-family:system-ui,sans-serif !important}

@media (prefers-color-scheme: light) {
  :root{color:#454545 !important}
  .date{color:#ababab}
}
@media (prefers-color-scheme: dark) {
  :root{color:#dcdcdc !important}
  .date{color:#676767}
}
a,a:visited{color:#ebb800}
.date{text-align:center;font-size:0.83em}
h1{margin:0}
